*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: blue;
}

nav{
    display: grid;
    background-color: black;
    height: 14vh;
}

#icon1 {
    width: 10vw;
    height: 10vh;
    
}

#barra {
    width: 5vw;
    height: 5vh;
}